<a href="https://colab.research.google.com/github/icardemil64/BDA_Taller1/blob/main/taller1_bda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Descripción
El siguiente script tiene como objetivo obtener los datos relevantes del archivo CSV sobre muertes por sobredosis de drogas. Esto será útil para realizar un proceso de limpieza antes de cargar toda la información en la base de datos.\
Fuente de datos: [Drug overdose deaths](https://www.kaggle.com/ruchi798/drug-overdose-deaths).

##Importar librerías

In [64]:
import pandas as pd

##Importar datos

In [65]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [66]:
df_muertes = pd.read_csv("drive/My Drive/Colab Notebooks/BDA/drug_deaths.csv")

##Información de muertes

In [67]:
pd.set_option('display.max_columns', None)

In [68]:
df_muertes.head()

,Unnamed: 0,ID,Date,DateType,Age,Sex,Race,ResidenceCity,ResidenceCounty,ResidenceState,DeathCity,DeathCounty,Location,LocationifOther,DescriptionofInjury,InjuryPlace,InjuryCity,InjuryCounty,InjuryState,COD,OtherSignifican,Heroin,Cocaine,Fentanyl,Fentanyl_Analogue,Oxycodone,Oxymorphone,Ethanol,Hydrocodone,Benzodiazepine,Methadone,Amphet,Tramad,Morphine_NotHeroin,Hydromorphone,Other,OpiateNOS,AnyOpioid,MannerofDeath,DeathCityGeo,ResidenceCityGeo,InjuryCityGeo
0,0,14-0273,06/28/2014 12:00:00 AM,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,substance,NaN,NaN,NaN,NaN,"Acute fent, hydrocod, benzodiazepine",NaN,0,0,1,0.0,0,0,0,1,1,0,0,0,0,0,NaN,0,0,Accident,"CT\n(41.575155, -72.738288)","CT\n(41.575155, -72.738288)","CT\n(41.575155, -72.738288)"
1,1,13-0102,03/21/2013 12:00:00 AM,0.0,48.0,Male,Black,NORWALK,NaN,NaN,NORWALK,FAIRFIELD,Hospital,NaN,NaN,NaN,NaN,NaN,NaN,Cocaine Intoxication,NaN,0,1,0,0.0,0,0,0,0,0,0,0,0,0,0,NaN,0,0,Accident,"Norwalk, CT\n(41.11805, -73.412906)","NORWALK, CT\n(41.11805, -73.412906)","CT\n(41.575155, -72.738288)"
2,2,16-0165,03/13/2016 12:00:00 AM,0.0,30.0,Female,White,SANDY HOOK,FAIRFIELD,CT,DANBURY,NaN,Hospital,NaN,Substance Abuse,Unknown,UNKNOWN,NaN,NaN,Acute Heroin and Cocaine Intoxication,NaN,1,1,0,0.0,0,0,0,0,0,0,0,0,0,0,NaN,0,1,Accident,"Danbury, CT\n(41.393666, -73.451539)","SANDY HOOK, CT\n(41.419998, -73.282501)",NaN
3,3,16-0208,03/31/2016 12:00:00 AM,0.0,23.0,Male,White,RYE,WESTCHESTER,NY,GREENWICH,NaN,Hospital,NaN,substance abuse,Residence,RYE,NaN,NaN,Acute Fentanyl and Morphine Intoxication,NaN,1,0,1,0.0,0,0,0,0,0,0,0,0,0,0,NaN,0,1,Accident,"Greenwich, CT\n(41.026526, -73.628549)",NaN,NaN
4,4,13-0052,02/13/2013 12:00:00 AM,0.0,22.0,Male,"Asian, Other",FLUSHING,QUEENS,NaN,GREENWICH,FAIRFIELD,Hospital,NaN,Transdermal Absorption,Other,NaN,NaN,NaN,Fentanyl Intoxication,NaN,0,0,1,0.0,0,0,0,0,0,0,0,0,0,0,NaN,0,0,Accident,"Greenwich, CT\n(41.026526, -73.628549)",NaN,"CT\n(41.575155, -72.738288)"

##Extracción de datos

###Lista de columnas donde se obtendrá los datos.

In [69]:
lista_columnas = ['ID','Date','Age','Sex','Race','Heroin','Cocaine','Fentanyl','Oxycodone','Oxymorphone','Ethanol','Hydrocodone','Benzodiazepine','Methadone','Amphet','Tramad','Morphine_NotHeroin','Hydromorphone','OpiateNOS','AnyOpioid']

###Nuevo Dataframe con la información relevante.

In [71]:
df_muertes = df_muertes[lista_columnas]

In [72]:
df_muertes.head()

,ID,Date,Age,Sex,Race,Heroin,Cocaine,Fentanyl,Oxycodone,Oxymorphone,Ethanol,Hydrocodone,Benzodiazepine,Methadone,Amphet,Tramad,Morphine_NotHeroin,Hydromorphone,OpiateNOS,AnyOpioid
0,14-0273,06/28/2014 12:00:00 AM,NaN,NaN,NaN,0,0,1,0,0,0,1,1,0,0,0,0,0,0,0
1,13-0102,03/21/2013 12:00:00 AM,48.0,Male,Black,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
2,16-0165,03/13/2016 12:00:00 AM,30.0,Female,White,1,1,0,0,0,0,0,0,0,0,0,0,0,0,1
3,16-0208,03/31/2016 12:00:00 AM,23.0,Male,White,1,0,1,0,0,0,0,0,0,0,0,0,0,0,1
4,13-0052,02/13/2013 12:00:00 AM,22.0,Male,"Asian, Other",0,0,1,0,0,0,0,0,0,0,0,0,0,0,0

##Limpieza de datos

###Identificar si hay filas con elementos nulos.

In [73]:
is_NaN = df_muertes.isnull()
row_has_NaN = is_NaN.any(axis=1)
rows_with_NaN = df_muertes[row_has_NaN]

In [74]:
rows_with_NaN.shape[0]

17

###Limpiar el Dataframe de todas las final con nulos.

In [75]:
df_muertes = df_muertes.dropna()

In [76]:
df_muertes.head()

,ID,Date,Age,Sex,Race,Heroin,Cocaine,Fentanyl,Oxycodone,Oxymorphone,Ethanol,Hydrocodone,Benzodiazepine,Methadone,Amphet,Tramad,Morphine_NotHeroin,Hydromorphone,OpiateNOS,AnyOpioid
1,13-0102,03/21/2013 12:00:00 AM,48.0,Male,Black,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
2,16-0165,03/13/2016 12:00:00 AM,30.0,Female,White,1,1,0,0,0,0,0,0,0,0,0,0,0,0,1
3,16-0208,03/31/2016 12:00:00 AM,23.0,Male,White,1,0,1,0,0,0,0,0,0,0,0,0,0,0,1
4,13-0052,02/13/2013 12:00:00 AM,22.0,Male,"Asian, Other",0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
5,14-0277,06/29/2014 12:00:00 AM,23.0,Male,White,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0

###Eliminar filas que contengan caracteres

In [78]:
lista_palabras = ["1 (PTCH)","1 POPS","1-A","1ES","NO RX BUT STRAWS","PCP NEG","STOLE MEDS","N"]

In [79]:
df_muertes = df_muertes[~df_muertes.Fentanyl.str.contains('|'.join(lista_palabras))]

/usr/local/lib/python3.7/dist-packages/pandas/core/strings.py:2001: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

In [80]:
df_muertes.drop(index=3741)

,ID,Date,Age,Sex,Race,Heroin,Cocaine,Fentanyl,Oxycodone,Oxymorphone,Ethanol,Hydrocodone,Benzodiazepine,Methadone,Amphet,Tramad,Morphine_NotHeroin,Hydromorphone,OpiateNOS,AnyOpioid
1,13-0102,03/21/2013 12:00:00 AM,48.0,Male,Black,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
2,16-0165,03/13/2016 12:00:00 AM,30.0,Female,White,1,1,0,0,0,0,0,0,0,0,0,0,0,0,1
3,16-0208,03/31/2016 12:00:00 AM,23.0,Male,White,1,0,1,0,0,0,0,0,0,0,0,0,0,0,1
4,13-0052,02/13/2013 12:00:00 AM,22.0,Male,"Asian, Other",0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
5,14-0277,06/29/2014 12:00:00 AM,23.0,Male,White,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5100,15-0466,09/08/2015 12:00:00 AM,43.0,Male,White,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0
5101,17-0618,07/22/2017 12:00:00 AM,21.0,Male,White,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0
5102,18-0646,08/14/2018 12:00:00 AM,30.0,Male,White,1,0,1,0,0,0,0,0,0,0,1,0,0,0,1
5103,14-0124,03/16/2014 12:00:00 AM,33.0,Male,White,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
5104,16-0637,09/15/2016 12:00:00 AM,33.0,Male,White,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1

###Eliminar filas con valores que no aportan información.

####Columna Sex

In [82]:
df_muertes.groupby(["Sex"]).size()

Sex
Female     1319
Male       3765
Unknown       1
dtype: int64

In [83]:
df_muertes = df_muertes[df_muertes.Sex != "Unknown"]

####Columna Race

In [84]:
df_muertes.groupby(["Race"]).size()

Race
Asian Indian                14
Asian, Other                18
Black                      433
Chinese                      2
Hawaiian                     1
Hispanic, Black             24
Hispanic, White            559
Native American, Other       1
Other                       11
Unknown                     23
White                     3998
dtype: int64

In [85]:
df_muertes = df_muertes[df_muertes.Race != "Other"]
df_muertes = df_muertes[df_muertes.Race != "Unknown"]

##Transformar datos

###Agrupar etiquetas

El objetivo es agrupar etiquetas similares, por ejemplo, Hispanic Black 👨🏿 y Hispanic White 👨🏻 en una sola etiqueta Hispanic.

In [86]:
df_muertes.groupby(["Race"]).size()

Race
Asian Indian                14
Asian, Other                18
Black                      433
Chinese                      2
Hawaiian                     1
Hispanic, Black             24
Hispanic, White            559
Native American, Other       1
White                     3998
dtype: int64

In [87]:
df_muertes = df_muertes.replace('Hispanic, Black','Hispanic')
df_muertes = df_muertes.replace('Hispanic, White','Hispanic')
df_muertes = df_muertes.replace('Asian Indian','Asian')
df_muertes = df_muertes.replace('Asian, Other','Asian')
df_muertes = df_muertes.replace('Chinese','Asian')

In [88]:
df_muertes.groupby(["Race"]).size()

Race
Asian                       34
Black                      433
Hawaiian                     1
Hispanic                   583
Native American, Other       1
White                     3998
dtype: int64

##Guardar archivo CSV

In [89]:
df_muertes.to_csv('data_final.csv')
!cp data_final.csv "drive/My Drive/Colab Notebooks/BDA/"

##Acotar datos

Para facilitar el proceso de subir los registros a la base de datos se recogeran una cantidad determinada de filas.

In [90]:
CANT_FILAS = 250
df_muertes = df_muertes.sample(n=CANT_FILAS)

In [91]:
df_muertes.set_index('ID')

,Date,Age,Sex,Race,Heroin,Cocaine,Fentanyl,Oxycodone,Oxymorphone,Ethanol,Hydrocodone,Benzodiazepine,Methadone,Amphet,Tramad,Morphine_NotHeroin,Hydromorphone,OpiateNOS,AnyOpioid
ID,,,,,,,,,,,,,,,,,,,
13-0350,10/13/2013 12:00:00 AM,54.0,Male,White,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
12-0117,05/07/2012 12:00:00 AM,52.0,Male,White,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
17-0489,06/13/2017 12:00:00 AM,57.0,Male,White,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
16-0598,09/01/2016 12:00:00 AM,58.0,Male,Black,1,0,0,1,0,0,0,1,0,0,0,0,0,0,1
14-0200,05/10/2014 12:00:00 AM,24.0,Female,White,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17-0240,03/21/2017 12:00:00 AM,57.0,Male,White,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0
15-0566,10/20/2015 12:00:00 AM,26.0,Male,White,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
18-0982,12/14/2018 12:00:00 AM,56.0,Male,White,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1
17-0355,05/03/2017 12:00:00 AM,55.0,Female,White,1,0,1,0,0,1,0,1,0,0,0,0,0,0,0
17-0291,04/09/2017 12:00:00 AM,22.0,Female,White,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0

In [92]:
df_muertes.to_csv('data_final_final.csv') # 🤣
!cp data_final_final.csv "drive/My Drive/Colab Notebooks/BDA/"