<a href="https://colab.research.google.com/github/icardemil64/BDA_Taller1/blob/main/taller1_bda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Descripción
El siguiente script tiene como objetivo obtener los datos relevantes del archivo CSV sobre muertes por sobredosis de drogas. Esto será útil para realizar un proceso de limpieza antes de cargar toda la información en la base de datos.\
Fuente de datos: [Drug overdose deaths](https://www.kaggle.com/ruchi798/drug-overdose-deaths).

##Importar librerías

In [1]:
import pandas as pd

##Importar datos

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [123]:
df_muertes = pd.read_csv("drive/My Drive/Colab Notebooks/BDA/drug_deaths.csv")

##Información de muertes

In [124]:
pd.set_option('display.max_columns', None)

In [126]:
df_muertes.head()

,Unnamed: 0,ID,Date,DateType,Age,Sex,Race,ResidenceCity,ResidenceCounty,ResidenceState,DeathCity,DeathCounty,Location,LocationifOther,DescriptionofInjury,InjuryPlace,InjuryCity,InjuryCounty,InjuryState,COD,OtherSignifican,Heroin,Cocaine,Fentanyl,Fentanyl_Analogue,Oxycodone,Oxymorphone,Ethanol,Hydrocodone,Benzodiazepine,Methadone,Amphet,Tramad,Morphine_NotHeroin,Hydromorphone,Other,OpiateNOS,AnyOpioid,MannerofDeath,DeathCityGeo,ResidenceCityGeo,InjuryCityGeo
0,0,14-0273,06/28/2014 12:00:00 AM,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,substance,NaN,NaN,NaN,NaN,"Acute fent, hydrocod, benzodiazepine",NaN,0,0,1,0.0,0,0,0,1,1,0,0,0,0,0,NaN,0,0,Accident,"CT\n(41.575155, -72.738288)","CT\n(41.575155, -72.738288)","CT\n(41.575155, -72.738288)"
1,1,13-0102,03/21/2013 12:00:00 AM,0.0,48.0,Male,Black,NORWALK,NaN,NaN,NORWALK,FAIRFIELD,Hospital,NaN,NaN,NaN,NaN,NaN,NaN,Cocaine Intoxication,NaN,0,1,0,0.0,0,0,0,0,0,0,0,0,0,0,NaN,0,0,Accident,"Norwalk, CT\n(41.11805, -73.412906)","NORWALK, CT\n(41.11805, -73.412906)","CT\n(41.575155, -72.738288)"
2,2,16-0165,03/13/2016 12:00:00 AM,0.0,30.0,Female,White,SANDY HOOK,FAIRFIELD,CT,DANBURY,NaN,Hospital,NaN,Substance Abuse,Unknown,UNKNOWN,NaN,NaN,Acute Heroin and Cocaine Intoxication,NaN,1,1,0,0.0,0,0,0,0,0,0,0,0,0,0,NaN,0,1,Accident,"Danbury, CT\n(41.393666, -73.451539)","SANDY HOOK, CT\n(41.419998, -73.282501)",NaN
3,3,16-0208,03/31/2016 12:00:00 AM,0.0,23.0,Male,White,RYE,WESTCHESTER,NY,GREENWICH,NaN,Hospital,NaN,substance abuse,Residence,RYE,NaN,NaN,Acute Fentanyl and Morphine Intoxication,NaN,1,0,1,0.0,0,0,0,0,0,0,0,0,0,0,NaN,0,1,Accident,"Greenwich, CT\n(41.026526, -73.628549)",NaN,NaN
4,4,13-0052,02/13/2013 12:00:00 AM,0.0,22.0,Male,"Asian, Other",FLUSHING,QUEENS,NaN,GREENWICH,FAIRFIELD,Hospital,NaN,Transdermal Absorption,Other,NaN,NaN,NaN,Fentanyl Intoxication,NaN,0,0,1,0.0,0,0,0,0,0,0,0,0,0,0,NaN,0,0,Accident,"Greenwich, CT\n(41.026526, -73.628549)",NaN,"CT\n(41.575155, -72.738288)"

##Extracción de datos

###Lista de columnas donde se obtendrá los datos.

In [144]:
lista_columnas = ['ID','Date','Age','Sex','Race','Heroin','Cocaine','Fentanyl','Oxycodone','Oxymorphone','Ethanol','Hydrocodone','Benzodiazepine','Methadone','Methadone','Amphet','Tramad','Morphine_NotHeroin','Hydromorphone']

###Nuevo Dataframe con la información relevante.

In [145]:
df_muertes = data_muertes[lista_columnas]

In [146]:
df_muertes.head()

,ID,Date,Age,Sex,Race,Heroin,Cocaine,Fentanyl,Oxycodone,Oxymorphone,Ethanol,Hydrocodone,Benzodiazepine,Methadone,Methadone,Amphet,Tramad,Morphine_NotHeroin,Hydromorphone
0,14-0273,06/28/2014 12:00:00 AM,NaN,NaN,NaN,0,0,1,0,0,0,1,1,0,0,0,0,0,0
1,13-0102,03/21/2013 12:00:00 AM,48.0,Male,Black,0,1,0,0,0,0,0,0,0,0,0,0,0,0
2,16-0165,03/13/2016 12:00:00 AM,30.0,Female,White,1,1,0,0,0,0,0,0,0,0,0,0,0,0
3,16-0208,03/31/2016 12:00:00 AM,23.0,Male,White,1,0,1,0,0,0,0,0,0,0,0,0,0,0
4,13-0052,02/13/2013 12:00:00 AM,22.0,Male,"Asian, Other",0,0,1,0,0,0,0,0,0,0,0,0,0,0

##Limpieza de datos

###Identificar si hay filas con elementos nulos.

In [147]:
is_NaN = df_muertes.isnull()
row_has_NaN = is_NaN.any(axis=1)
rows_with_NaN = df_muertes[row_has_NaN]

In [148]:
rows_with_NaN.shape[0]

17

###Limpiar el Dataframe de todas las final con nulos.

In [149]:
df_muertes = df_muertes.dropna()

In [150]:
df_muertes.head()

,ID,Date,Age,Sex,Race,Heroin,Cocaine,Fentanyl,Oxycodone,Oxymorphone,Ethanol,Hydrocodone,Benzodiazepine,Methadone,Methadone,Amphet,Tramad,Morphine_NotHeroin,Hydromorphone
1,13-0102,03/21/2013 12:00:00 AM,48.0,Male,Black,0,1,0,0,0,0,0,0,0,0,0,0,0,0
2,16-0165,03/13/2016 12:00:00 AM,30.0,Female,White,1,1,0,0,0,0,0,0,0,0,0,0,0,0
3,16-0208,03/31/2016 12:00:00 AM,23.0,Male,White,1,0,1,0,0,0,0,0,0,0,0,0,0,0
4,13-0052,02/13/2013 12:00:00 AM,22.0,Male,"Asian, Other",0,0,1,0,0,0,0,0,0,0,0,0,0,0
5,14-0277,06/29/2014 12:00:00 AM,23.0,Male,White,1,0,0,0,0,0,0,0,0,0,0,0,0,0

###Eliminar filas con valores que no aportan información.

####Columna Sex

In [151]:
df_muertes.groupby(["Sex"]).size()

Sex
Female     1320
Male       3767
Unknown       1
dtype: int64

In [152]:
df_muertes = df_muertes[df_muertes.Sex != "Unknown"]

####Columna Race

In [153]:
df_muertes.groupby(["Race"]).size()

Race
Asian Indian                14
Asian, Other                18
Black                      433
Chinese                      2
Hawaiian                     1
Hispanic, Black             24
Hispanic, White            560
Native American, Other       1
Other                       11
Unknown                     23
White                     4000
dtype: int64

In [154]:
df_muertes = df_muertes[df_muertes.Race != "Other"]
df_muertes = df_muertes[df_muertes.Race != "Unknown"]

##Transformar datos

###Agrupar etiquetas

El objetivo es agrupar etiquetas similares, por ejemplo, Hispanic Black 👨🏿 y Hispanic White 👨🏻 en una sola etiqueta Hispanic.

In [155]:
df_muertes.groupby(["Race"]).size()

Race
Asian Indian                14
Asian, Other                18
Black                      433
Chinese                      2
Hawaiian                     1
Hispanic, Black             24
Hispanic, White            560
Native American, Other       1
White                     4000
dtype: int64

In [157]:
df_muertes = df_muertes.replace('Hispanic, Black','Hispanic')
df_muertes = df_muertes.replace('Hispanic, White','Hispanic')
df_muertes = df_muertes.replace('Asian Indian','Asian')
df_muertes = df_muertes.replace('Asian, Other','Asian')
df_muertes = df_muertes.replace('Chinese','Asian')

In [158]:
df_muertes.groupby(["Race"]).size()

Race
Asian                       34
Black                      433
Hawaiian                     1
Hispanic                   584
Native American, Other       1
White                     4000
dtype: int64

##Guardar archivo CSV

In [159]:
df_muertes.to_csv('data_final.csv')
!cp data_final.csv "drive/My Drive/Colab Notebooks/BDA/"