<a href="https://colab.research.google.com/github/icardemil64/BDA_Taller1/blob/main/taller1_bda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Descripci贸n
El siguiente script tiene como objetivo obtener los datos relevantes del archivo CSV sobre muertes por sobredosis de drogas. Esto ser谩 煤til para realizar un proceso de limpieza antes de cargar toda la informaci贸n en la base de datos.\
Fuente de datos: [Drug overdose deaths](https://www.kaggle.com/ruchi798/drug-overdose-deaths).

##Importar librer铆as

In [1]:
import pandas as pd

##Importar datos

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
df_muertes = pd.read_csv("drive/My Drive/Colab Notebooks/BDA/drug_deaths.csv")

##Informaci贸n de muertes

In [4]:
pd.set_option('display.max_columns', None)

In [5]:
df_muertes.head()

,Unnamed: 0,ID,Date,DateType,Age,Sex,Race,ResidenceCity,ResidenceCounty,ResidenceState,DeathCity,DeathCounty,Location,LocationifOther,DescriptionofInjury,InjuryPlace,InjuryCity,InjuryCounty,InjuryState,COD,OtherSignifican,Heroin,Cocaine,Fentanyl,Fentanyl_Analogue,Oxycodone,Oxymorphone,Ethanol,Hydrocodone,Benzodiazepine,Methadone,Amphet,Tramad,Morphine_NotHeroin,Hydromorphone,Other,OpiateNOS,AnyOpioid,MannerofDeath,DeathCityGeo,ResidenceCityGeo,InjuryCityGeo
0,0,14-0273,06/28/2014 12:00:00 AM,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,substance,NaN,NaN,NaN,NaN,"Acute fent, hydrocod, benzodiazepine",NaN,0,0,1,0.0,0,0,0,1,1,0,0,0,0,0,NaN,0,0,Accident,"CT\n(41.575155, -72.738288)","CT\n(41.575155, -72.738288)","CT\n(41.575155, -72.738288)"
1,1,13-0102,03/21/2013 12:00:00 AM,0.0,48.0,Male,Black,NORWALK,NaN,NaN,NORWALK,FAIRFIELD,Hospital,NaN,NaN,NaN,NaN,NaN,NaN,Cocaine Intoxication,NaN,0,1,0,0.0,0,0,0,0,0,0,0,0,0,0,NaN,0,0,Accident,"Norwalk, CT\n(41.11805, -73.412906)","NORWALK, CT\n(41.11805, -73.412906)","CT\n(41.575155, -72.738288)"
2,2,16-0165,03/13/2016 12:00:00 AM,0.0,30.0,Female,White,SANDY HOOK,FAIRFIELD,CT,DANBURY,NaN,Hospital,NaN,Substance Abuse,Unknown,UNKNOWN,NaN,NaN,Acute Heroin and Cocaine Intoxication,NaN,1,1,0,0.0,0,0,0,0,0,0,0,0,0,0,NaN,0,1,Accident,"Danbury, CT\n(41.393666, -73.451539)","SANDY HOOK, CT\n(41.419998, -73.282501)",NaN
3,3,16-0208,03/31/2016 12:00:00 AM,0.0,23.0,Male,White,RYE,WESTCHESTER,NY,GREENWICH,NaN,Hospital,NaN,substance abuse,Residence,RYE,NaN,NaN,Acute Fentanyl and Morphine Intoxication,NaN,1,0,1,0.0,0,0,0,0,0,0,0,0,0,0,NaN,0,1,Accident,"Greenwich, CT\n(41.026526, -73.628549)",NaN,NaN
4,4,13-0052,02/13/2013 12:00:00 AM,0.0,22.0,Male,"Asian, Other",FLUSHING,QUEENS,NaN,GREENWICH,FAIRFIELD,Hospital,NaN,Transdermal Absorption,Other,NaN,NaN,NaN,Fentanyl Intoxication,NaN,0,0,1,0.0,0,0,0,0,0,0,0,0,0,0,NaN,0,0,Accident,"Greenwich, CT\n(41.026526, -73.628549)",NaN,"CT\n(41.575155, -72.738288)"

##Extracci贸n de datos

###Lista de columnas donde se obtendr谩 los datos.

In [6]:
lista_columnas = ['ID','Date','Age','Sex','Race','Heroin','Cocaine','Fentanyl','Oxycodone','Oxymorphone','Ethanol','Hydrocodone','Benzodiazepine','Methadone','Methadone','Amphet','Tramad','Morphine_NotHeroin','Hydromorphone']

###Nuevo Dataframe con la informaci贸n relevante.

In [8]:
df_muertes = df_muertes[lista_columnas]

In [9]:
df_muertes.head()

,ID,Date,Age,Sex,Race,Heroin,Cocaine,Fentanyl,Oxycodone,Oxymorphone,Ethanol,Hydrocodone,Benzodiazepine,Methadone,Methadone,Amphet,Tramad,Morphine_NotHeroin,Hydromorphone
0,14-0273,06/28/2014 12:00:00 AM,NaN,NaN,NaN,0,0,1,0,0,0,1,1,0,0,0,0,0,0
1,13-0102,03/21/2013 12:00:00 AM,48.0,Male,Black,0,1,0,0,0,0,0,0,0,0,0,0,0,0
2,16-0165,03/13/2016 12:00:00 AM,30.0,Female,White,1,1,0,0,0,0,0,0,0,0,0,0,0,0
3,16-0208,03/31/2016 12:00:00 AM,23.0,Male,White,1,0,1,0,0,0,0,0,0,0,0,0,0,0
4,13-0052,02/13/2013 12:00:00 AM,22.0,Male,"Asian, Other",0,0,1,0,0,0,0,0,0,0,0,0,0,0

##Limpieza de datos

###Identificar si hay filas con elementos nulos.

In [10]:
is_NaN = df_muertes.isnull()
row_has_NaN = is_NaN.any(axis=1)
rows_with_NaN = df_muertes[row_has_NaN]

In [11]:
rows_with_NaN.shape[0]

17

###Limpiar el Dataframe de todas las final con nulos.

In [12]:
df_muertes = df_muertes.dropna()

In [13]:
df_muertes.head()

,ID,Date,Age,Sex,Race,Heroin,Cocaine,Fentanyl,Oxycodone,Oxymorphone,Ethanol,Hydrocodone,Benzodiazepine,Methadone,Methadone,Amphet,Tramad,Morphine_NotHeroin,Hydromorphone
1,13-0102,03/21/2013 12:00:00 AM,48.0,Male,Black,0,1,0,0,0,0,0,0,0,0,0,0,0,0
2,16-0165,03/13/2016 12:00:00 AM,30.0,Female,White,1,1,0,0,0,0,0,0,0,0,0,0,0,0
3,16-0208,03/31/2016 12:00:00 AM,23.0,Male,White,1,0,1,0,0,0,0,0,0,0,0,0,0,0
4,13-0052,02/13/2013 12:00:00 AM,22.0,Male,"Asian, Other",0,0,1,0,0,0,0,0,0,0,0,0,0,0
5,14-0277,06/29/2014 12:00:00 AM,23.0,Male,White,1,0,0,0,0,0,0,0,0,0,0,0,0,0

###Eliminar filas con valores que no aportan informaci贸n.

####Columna Sex

In [14]:
df_muertes.groupby(["Sex"]).size()

Sex
Female     1320
Male       3767
Unknown       1
dtype: int64

In [15]:
df_muertes = df_muertes[df_muertes.Sex != "Unknown"]

####Columna Race

In [16]:
df_muertes.groupby(["Race"]).size()

Race
Asian Indian                14
Asian, Other                18
Black                      433
Chinese                      2
Hawaiian                     1
Hispanic, Black             24
Hispanic, White            560
Native American, Other       1
Other                       11
Unknown                     23
White                     4000
dtype: int64

In [17]:
df_muertes = df_muertes[df_muertes.Race != "Other"]
df_muertes = df_muertes[df_muertes.Race != "Unknown"]

##Transformar datos

###Agrupar etiquetas

El objetivo es agrupar etiquetas similares, por ejemplo, Hispanic Black  y Hispanic White  en una sola etiqueta Hispanic.

In [18]:
df_muertes.groupby(["Race"]).size()

Race
Asian Indian                14
Asian, Other                18
Black                      433
Chinese                      2
Hawaiian                     1
Hispanic, Black             24
Hispanic, White            560
Native American, Other       1
White                     4000
dtype: int64

In [19]:
df_muertes = df_muertes.replace('Hispanic, Black','Hispanic')
df_muertes = df_muertes.replace('Hispanic, White','Hispanic')
df_muertes = df_muertes.replace('Asian Indian','Asian')
df_muertes = df_muertes.replace('Asian, Other','Asian')
df_muertes = df_muertes.replace('Chinese','Asian')

In [20]:
df_muertes.groupby(["Race"]).size()

Race
Asian                       34
Black                      433
Hawaiian                     1
Hispanic                   584
Native American, Other       1
White                     4000
dtype: int64

##Guardar archivo CSV

In [21]:
df_muertes.to_csv('data_final.csv')
!cp data_final.csv "drive/My Drive/Colab Notebooks/BDA/"

##Acotar datos

Para facilitar el proceso de subir los registros a la base de datos se recogeran una cantidad determinada de filas.

In [22]:
CANT_FILAS = 250
df_muertes = df_muertes.sample(n=CANT_FILAS)

In [23]:
df_muertes.set_index('ID')

,Date,Age,Sex,Race,Heroin,Cocaine,Fentanyl,Oxycodone,Oxymorphone,Ethanol,Hydrocodone,Benzodiazepine,Methadone,Methadone,Amphet,Tramad,Morphine_NotHeroin,Hydromorphone
ID,,,,,,,,,,,,,,,,,,
17-0850,10/27/2017 12:00:00 AM,41.0,Male,White,1,0,1,0,0,0,0,0,1,1,0,0,0,0
16-0565,08/21/2016 12:00:00 AM,40.0,Female,White,1,0,0,0,0,0,0,0,1,1,1,0,0,0
15-0141,03/23/2015 12:00:00 AM,50.0,Male,White,1,0,1,0,0,0,0,0,0,0,0,0,0,0
17-0462,06/05/2017 12:00:00 AM,25.0,Male,Hispanic,1,1,1,0,0,1,0,0,0,0,0,0,0,0
17-0421,05/23/2017 12:00:00 AM,40.0,Female,White,1,1,1,0,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13-0477,12/24/2013 12:00:00 AM,47.0,Male,White,0,0,0,0,0,0,1,1,0,0,0,0,0,0
18-0969,12/11/2018 12:00:00 AM,50.0,Female,White,1,1,0,0,0,0,0,1,0,0,1,0,0,0
16-0189,03/22/2016 12:00:00 AM,22.0,Male,White,0,0,0,0,0,0,0,0,0,0,0,0,0,0
15-0395,07/31/2015 12:00:00 AM,35.0,Male,White,0,0,1,0,0,0,0,0,0,0,0,0,0,0
13-0290,08/27/2013 12:00:00 AM,60.0,Male,White,1,0,0,0,0,0,0,0,0,0,0,0,0,0

In [24]:
df_muertes.to_csv('data_final_final.csv') # ぃ
!cp data_final_final.csv "drive/My Drive/Colab Notebooks/BDA/"